@font-face {
	font-family: 'SuisseIntl';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/SuisseIntl-Light.otf') format("otf");
}

@font-face {
	font-family: 'SuisseIntl';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/SuisseIntl-Regular.otf') format("otf");
}

@font-face {
	font-family: 'SuisseIntl';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/SuisseIntl-Bold.otf') format("otf");
}